{% extends 'base.html' %}
{% load static %}

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}  <!--Если мы хоти добраться до всех картинок, у которой есть ссыка на текущий продукт(если мы исспользуем на вьюхе, то после set не all, а filter). Также пишем название модели маленькими буквами-->
                <div class="product-image-item">
                    <img src="{{ image_item.image.url }}" class="img-responsive img-thumbnail">
                </div>
                       
                {% endfor %}               
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
            </div>
            <div class="col-lg-6">
                <p class="text-center">
                    {{ product.price }}
                </p>
            </div>
            <div class="col-lg-6">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
            Описание
        </a>
    </li>
    <!--<li role="presentation">
        <a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">
            Пошаговое руководство
        </a>
    </li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Дополнительная информация об ICO</a></li>
    -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content product-description-tabs">
    <div role="tabpanel" class="tab-pane active" id="description">
        {{ product.description|linebreaksbr|urlize }}
    </div>
    <!--<div role="tabpanel" class="tab-pane fade" id="delivery">
        {{ product.step_by_step }}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">{{ product.additional_ico }}</div>-->
    
  </div>
  <div>
    <form action="">
        <button class="btn btn-success">
           Перейти к пректу
        </button>
    </form>      
  </div>

</div>
        </div>
    </div>
{% endblock %}	

