<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 col-sm-12">
        <p>Copyright &copy; AirDrop 2019 All rights reserved.</p>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-12">
        <p><!-- Виджет котировок криптовалют. Начало -->
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
    
        </p>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-12">
        <ul class="footer_social">
              <a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer --> 

